
html {
  min-height: 100%;
  position: relative;
  overflow-x:hidden;
 
}

body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Bitter', serif;
  font-size: 100%;
  overflow-x:hidden;

}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Pacifico', cursive;
  font-size: 5.625rem;
  color: #66BFBF; text-shadow: 2px 2px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  line-height: 1.5;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  font-size: 1rem;
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  line-height: 20%;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: lightgrey;
  border-width: 4px;
  width: 5%;
  margin: 60px auto;
}

p {
  line-height: 2;
}



/*  font-family: cursive:  Use lateef; */
/*********************************************CLASS SELECTORS********************************/
.top {
  background-color: #f8f8f8;
  position: relative;
  padding-top: 150px;
}

.cursive {
  font-family: 'Homemade Apple', cursive;
}

.middle-container {
  margin: 100px 0;
  margin-bottom: 0px;
}

.bottom-container {
  background-color: #66BFBF;
  font-weight: normal;
  margin: 10% 0 0 0;
  padding: 2%
}

.pro {
  text-decoration: underline;
}
.mountain {
  padding-left: 2%;
  padding-right: 2%;

}
.intro {
  width: 30%;
  margin: auto;
}

.top-cloud {
  position: relative;
  padding-left: 30px;
  border-radius: 0px;

}

.bottom-cloud {
  position: relative;
  padding-right: 75px;

}

.hellopic {
  width:7%;
  transform: rotate(25deg);
  margin: 3.6rem 3rem;

}

.circular-img {
  border-radius: 100%;
  width: 13%;
  margin-bottom: 1.5rem;
  box-shadow: 10px 10px 10px black;

}

.skill-row {
  width: 50%;
  margin: auto;
  margin: 90px auto 80px auto;
  text-align: left;
  line-height: 1.85;
}

.skill-img1 {
  width: 22%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 22%;
  float: right;
  margin-left: 30px;

}

.skilldesc {
  clear: left;
}

.skilldesc2 {
  clear: right;
}

.footer-link {
  color: #11999E;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding-bottom: 0px;
  padding-top: 3px;
  margin-bottom: 0px;
}
.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}
.contact-me {
  width: 40%;
  margin: 40px auto 60px;
}

.contactimg
  {
    width:25%;
    margin-top: 1rem;
  }

.button {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 0.70em;
  color: #ffffff;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom,
      from(#11999e),
      to(#66bfbf));
  background: linear-gradient(top,
      #11999e 0%,
      #66bfbf);
  border-radius: 8px;
  border: 1px solid #000000;
  margin-top: 100px;
}

.button:hover {
  font-family: Montserrat, Helvetica, sans-serif;
  font-size: 0.71em;
  color: #ffffff;
  padding: 10px 20px;
  background: -webkit-gradient(linear, left top, left bottom,
      from(#66bfbf),
      to(#11999e));
  background: linear-gradient(top,
      #66bfbf 0%,
      #11999e);
  border-radius: 8px;
  border: 1px solid #000000;
  margin-top: 100px;  
  box-shadow: 5px 5px 5px black;
}

.profile {
  margin-bottom: 0;
}

.skills {
margin: 0;
padding-bottom: 15px;

}
.myskills {
  margin-top: 20px;
}
.langs {
  padding-top: 2%;
  padding-bottom: 2%;
  justify-content: space-around;
  /* grid-auto-flow: column; */
}

.langs > img {
  padding: 3% 10% 3% 10%;
}
.langs > img:hover {
  opacity: 40%;
  background-color: rgba(0, 0, 0, 0.486);
}
.langs > a {
  padding: 0 0 0 0;
  
}

.portfolio > img {
  max-width: 250px;
  max-height: 100px;
}

.contactbtn {
  background-color: #ffcd00;
}

#navbar-example2 {
  padding: 0 0 0 0;
  background-color: #66bfbf;
}



@keyframes shimmy {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(7px, 7px);
  }